<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Dependencies" data-toc-modified-id="Dependencies-1">Dependencies</a></span></li><li><span><a href="#Paths" data-toc-modified-id="Paths-2">Paths</a></span></li><li><span><a href="#Main" data-toc-modified-id="Main-3">Main</a></span><ul class="toc-item"><li><span><a href="#Remove-cell-lines" data-toc-modified-id="Remove-cell-lines-3.1">Remove cell lines</a></span></li><li><span><a href="#Duplicated-samples" data-toc-modified-id="Duplicated-samples-3.2">Duplicated samples</a></span></li><li><span><a href="#Sample-types" data-toc-modified-id="Sample-types-3.3">Sample types</a></span></li><li><span><a href="#Sufficient-sample-size" data-toc-modified-id="Sufficient-sample-size-3.4">Sufficient sample size</a></span></li><li><span><a href="#Clustering" data-toc-modified-id="Clustering-3.5">Clustering</a></span></li></ul></li><li><span><a href="#Sankey-plot" data-toc-modified-id="Sankey-plot-4">Sankey plot</a></span></li></ul></div>

# Dependencies

In [1]:
library(ggforce)

Loading required package: ggplot2

In [2]:
source("~/OneDrive - UHN/R_src/ggplot2_theme.R")

# Paths

In [3]:
manifestpath <- "/Users/anabbi/OneDrive - UHN/Documents/IPD2/Manifests/"
datapath <- "/Users/anabbi/OneDrive - UHN/Documents/IPD2/Data/"
plotpath <- "/Users/anabbi/OneDrive - UHN/Documents/IPD2/Plots/"

# Main

Start with RSEM manifest file

In [4]:
CBTN_RNA_manifest_genes <- read.csv(paste0(manifestpath, "CBTTC_RSEM-manifest.csv"),header = TRUE, stringsAsFactors = FALSE)

In [5]:
dim(CBTN_RNA_manifest_genes)

[1] 996  20

In [6]:
CBTN_samples <- cbind.data.frame(CBTN_RNA_manifest_genes$sample_id,
                                 CBTN_RNA_manifest_genes$aliquot_id, stringsAsFactors = F)
colnames(CBTN_samples) <- c("CBTN_sample_id", "CBTN_aliquot_id")

In [7]:
CBTN_samples$CBTN_sample_aliquot <- paste0(CBTN_samples$CBTN_sample_id,"_", CBTN_samples$CBTN_aliquot_id)

In [8]:
CBTN_samples$CBTN <- "CBTN\nsamples\n(n = 996)"

In [9]:
head(CBTN_samples)

  CBTN_sample_id CBTN_aliquot_id CBTN_sample_aliquot CBTN
1 7316-464       746062          7316-464_746062     CBTN\nsamples\n(n = 996)
2 7316-2724      717144          7316-2724_717144    CBTN\nsamples\n(n = 996)
3 7316-4028      724089          7316-4028_724089    CBTN\nsamples\n(n = 996)
4 7316-516       571424          7316-516_571424     CBTN\nsamples\n(n = 996)
5 7316-1766      717142          7316-1766_717142    CBTN\nsamples\n(n = 996)
6 7316-3336      739926          7316-3336_739926    CBTN\nsamples\n(n = 996)

## Remove cell lines

In [10]:
CBTN_celllines <- read.csv(paste0(manifestpath,"cell_line_RNAalqids_CBTTC.csv"), header = TRUE, stringsAsFactors = F)

In [11]:
head(CBTN_celllines)

  case_id patient_id  clinical_event cell_lines_rnaalq_id X
1 C216603 PT_4347ZBEX 7316-913       739931               NA
2 C22878  PT_TGQY3X3W 7316-24        739935               NA
3 C28290  PT_3AWKWXEV 7316-85        740005               NA
4 C337143 PT_C2D4JXS1 7316-1746      739942               NA
5 C377856 PT_Z4PJA6KT 7316-1763      739939               NA
6 C56826  PT_Y5KY6KN9 7316-195       739937               NA

In [12]:
CBTN_celllines$sample_aliquot_id <- paste0(CBTN_celllines$clinical_event, "_", CBTN_celllines$cell_lines_rnaalq_id)

In [13]:
cellines <- CBTN_samples$CBTN_sample_aliquot[ CBTN_samples$CBTN_sample_aliquot %in% CBTN_celllines$sample_aliquot_id]
not_celllines <- CBTN_samples$CBTN_sample_aliquot[!CBTN_samples$CBTN_sample_aliquot %in% CBTN_celllines$sample_aliquot_id]

In [14]:
cellines

 [1] "7316-765_470731"               "7316-1464_470021"
 [3] "7316-913_739931"               "7316-913_739932"
 [5] "7316-278_257637"               "7316-85_740007"
 [7] "7316-85_740010"                "7316-1893_470029"
 [9] "7316-1746_739942"              "7316-1746_739941"
[11] "7316-1763_739940"              "7316-1763_739939"
[13] "7316-178_169902.251874.169909" "7316-195_739938"
[15] "7316-195_739937"               "7316-135_116304.116311.116318"
[17] "7316-2176_739936"              "7316-2189_740008"
[19] "7316-3058_739933"              "7316-3058_739934"
[21] "7316-2151_740006"              "7316-1769_740009"

In [15]:
CBTN_samples$Cell_lines <- NA
CBTN_samples$Cell_lines[ CBTN_samples$CBTN_sample_aliquot %in% cellines] <- 
paste0("Cell lines\n(n = ", length(cellines), ")")

CBTN_samples$Cell_lines[CBTN_samples$CBTN_sample_aliquot %in% not_celllines] <- 
paste0("Tumours\n(n = ", length(not_celllines), ")")

In [16]:
table(CBTN_samples$Cell_lines)

Cell lines\n(n = 22)   Tumours\n(n = 974)
                  22                  974

In [17]:
head(CBTN_samples)

  CBTN_sample_id CBTN_aliquot_id CBTN_sample_aliquot CBTN
1 7316-464       746062          7316-464_746062     CBTN\nsamples\n(n = 996)
2 7316-2724      717144          7316-2724_717144    CBTN\nsamples\n(n = 996)
3 7316-4028      724089          7316-4028_724089    CBTN\nsamples\n(n = 996)
4 7316-516       571424          7316-516_571424     CBTN\nsamples\n(n = 996)
5 7316-1766      717142          7316-1766_717142    CBTN\nsamples\n(n = 996)
6 7316-3336      739926          7316-3336_739926    CBTN\nsamples\n(n = 996)
  Cell_lines
1 Tumours\n(n = 974)
2 Tumours\n(n = 974)
3 Tumours\n(n = 974)
4 Tumours\n(n = 974)
5 Tumours\n(n = 974)
6 Tumours\n(n = 974)

## Duplicated samples

In [18]:
CBTN_RNA_manifest_genes$sample_aliquot_id <- paste0(CBTN_RNA_manifest_genes$sample_id, "_", CBTN_RNA_manifest_genes$aliquot_id)

In [19]:
CBTN_RNA_manifest_genes_linerm <- CBTN_RNA_manifest_genes[! CBTN_RNA_manifest_genes$sample_aliquot_id %in% cellines,]

In [20]:
dim(CBTN_RNA_manifest_genes_linerm)

[1] 974  21

In [21]:
CBTN_RNA_manifest_genes_linerm_dedup <- CBTN_RNA_manifest_genes_linerm[!duplicated(CBTN_RNA_manifest_genes_linerm$sample_id),]

In [22]:
dedup_ids <- CBTN_RNA_manifest_genes_linerm_dedup$sample_aliquot_id

In [23]:
dim(CBTN_RNA_manifest_genes_linerm_dedup)

[1] 969  21

In [24]:
dup_ids <- CBTN_RNA_manifest_genes_linerm$sample_aliquot_id[duplicated(CBTN_RNA_manifest_genes_linerm$sample_id)]

In [25]:
dup_ids

[1] "7316-14_8711"     "7316-87_62332"    "7316-158_746061"  "7316-1765_728295"
[5] "7316-1463_571407"

In [26]:
CBTN_samples$duplicated_samples <- NA

CBTN_samples$duplicated_samples[CBTN_samples$CBTN_sample_aliquot %in% dup_ids] <- 
paste0("Duplicated (n = ",length(dup_ids), ")") 
CBTN_samples$duplicated_samples[CBTN_samples$CBTN_sample_aliquot %in% dedup_ids] <-
paste0("Unique\n(n = ",length(dedup_ids), ")")

In [27]:
table(CBTN_samples$duplicated_samples)

Duplicated (n = 5)  Unique\n(n = 969)
                 5                969

## Sample types

In [28]:
load(file = paste0(manifestpath,"Master_manifest.RData"))

In [29]:
cbtn_metadata <- IPD_metadata[ IPD_metadata$group == "CBTTC",]

In [30]:
table(cbtn_metadata$sample_type, useNA = "always")

Initial CNS Tumor       Progressive        Recurrence Second Malignancy
              730               153                70                16
             <NA>
                0

In [31]:
cbtn_metadata$sample_aliquot_id <- paste0(cbtn_metadata$sample_id, "_", cbtn_metadata$aliquot_id)

In [32]:
primaries <- cbtn_metadata$sample_aliquot_id[cbtn_metadata$sample_type == "Initial CNS Tumor"]
progressives <- cbtn_metadata$sample_aliquot_id[cbtn_metadata$sample_type== "Progressive"]
recurrences <- cbtn_metadata$sample_aliquot_id[cbtn_metadata$sample_type == "Recurrence"]
secondmalig <- cbtn_metadata$sample_aliquot_id[cbtn_metadata$sample_type == "Second Malignancy"]
notavailables <- cbtn_metadata$sample_aliquot_id[cbtn_metadata$sample_type %in% c("","Unavailable")]

In [33]:
length(primaries)

[1] 730

In [34]:
CBTN_samples$tumour_type <- NA

CBTN_samples$tumour_type[ CBTN_samples$CBTN_sample_aliquot %in% primaries] <- 
paste0("Primary\n(n = ", 
       length(primaries), ")")

CBTN_samples$tumour_type[ CBTN_samples$CBTN_sample_aliquot %in% progressives] <- 
paste0("Progressive\n(n = ", 
       length(progressives), ")")

CBTN_samples$tumour_type[ CBTN_samples$CBTN_sample_aliquot %in% recurrences ] <- 
paste0("Recurrence (n = ", 
       length(recurrences), ")")

CBTN_samples$tumour_type[ CBTN_samples$CBTN_sample_aliquot %in% secondmalig ] <- 
paste0("Second malignancy\n(n = ", 
       length(secondmalig), ")")

In [35]:
table(CBTN_samples$tumour_type, useNA = "always")

         Primary\n(n = 730)      Progressive\n(n = 153)
                        730                         153
        Recurrence (n = 70) Second malignancy\n(n = 16)
                         70                          16
                       <NA>
                         27

## Sufficient sample size

In [36]:
load(file = paste0(datapath,"ESTIMATE/estimate_manifest_primary.RData"))

In [37]:
load(file = paste0(datapath,"ESTIMATE/estimate_manifest_primary_clean.RData"))

In [38]:
cbtn_primary <- estimate_manifest_primary[ estimate_manifest_primary$group == "CBTTC",]

In [39]:
cbtn_primary_clean <- estimate_manifest_primary_clean[ estimate_manifest_primary_clean$group == "CBTN",]

In [40]:
dim(cbtn_primary)
dim(cbtn_primary_clean)

[1] 730  21

[1] 632  21

In [41]:
cbtn_primary$sample_aliquot_id <- paste0(cbtn_primary$sample_id, "_", cbtn_primary$aliquot_id)
cbtn_primary_clean$sample_aliquot_id <- paste0(cbtn_primary_clean$sample_id, "_", cbtn_primary_clean$aliquot_id)

In [42]:
goodsamplesize <- cbtn_primary_clean$sample_aliquot_id
badsamplesize <- cbtn_primary$sample_aliquot_id[ ! cbtn_primary$sample_aliquot_id %in% cbtn_primary_clean$sample_aliquot_id]

In [43]:
CBTN_samples$sufficient_samplesize <- NA

CBTN_samples$sufficient_samplesize[ CBTN_samples$CBTN_sample_aliquot %in% goodsamplesize ] <- 
paste0("Sufficient\nsample size\n(n = ", length(goodsamplesize), ")")
CBTN_samples$sufficient_samplesize[ CBTN_samples$CBTN_sample_aliquot %in% badsamplesize ] <- 
paste0("Rare/unannotated\n(n = ", length(badsamplesize), ")")

In [44]:
table(CBTN_samples$sufficient_samplesize, useNA = "always")

        Rare/unannotated\n(n = 98) Sufficient\nsample size\n(n = 632)
                                98                                632
                              <NA>
                               266

## Clustering

In [45]:
load(file = paste0(datapath, "/ESTIMATE/estimate_manifest_primary_clean.RData"))

In [46]:
cbtn_preclustering <- estimate_manifest_primary_clean[ estimate_manifest_primary_clean$group == "CBTN",]

In [47]:
load(file = paste0(datapath, "ESTIMATE/estimate_manifest_primary_clean_postclustering.RData"))

In [48]:
cbtn_postclustering <- estimate_manifest_primary_clean[ estimate_manifest_primary_clean$group == "CBTN",]

In [49]:
cbtn_preclustering$sample_aliquot_id <- paste0(cbtn_preclustering$sample_id, "_",cbtn_preclustering$aliquot_id)

cbtn_postclustering$sample_aliquot_id <- paste0(cbtn_postclustering$sample_id, "_",cbtn_postclustering$aliquot_id)

In [50]:
dim(cbtn_preclustering)

[1] 632  22

In [51]:
goodexpression <- cbtn_postclustering$sample_aliquot_id
badexpression <- cbtn_preclustering$sample_aliquot_id[!cbtn_preclustering$sample_aliquot_id %in% cbtn_postclustering$sample_aliquot_id]

In [52]:
length(goodexpression)
length(badexpression)

[1] 581

[1] 51

In [53]:
CBTN_samples$tumorexpression <- NA

CBTN_samples$tumorexpression[ CBTN_samples$CBTN_sample_aliquot %in% goodexpression ] <- paste0("Matched with\npathology\n(n = ",length(goodexpression), ")")

CBTN_samples$tumorexpression[ CBTN_samples$CBTN_sample_aliquot %in% badexpression ] <- 
paste0("Not matched with\npathology\n(n = ",length(badexpression), ")")

In [54]:
table(CBTN_samples$tumorexpression, useNA = "always")

   Matched with\npathology\n(n = 581) Not matched with\npathology\n(n = 51)
                                  581                                    51
                                 <NA>
                                  364

# Sankey plot

In [55]:
CBTN_samples$duplicated_samples[is.na(CBTN_samples$duplicated_samples)] <- "Excluded (n = 22)"
CBTN_samples$tumour_type[is.na(CBTN_samples$tumour_type)] <- "Excluded (n = 27)"
CBTN_samples$sufficient_samplesize[is.na(CBTN_samples$sufficient_samplesize)] <- "Excluded\n(n = 266)"
CBTN_samples$tumorexpression[is.na(CBTN_samples$tumorexpression)] <- "Excluded\n(n = 364)"

In [56]:
freqtab <- as.data.frame(table(CBTN_samples$CBTN, CBTN_samples$Cell_lines, CBTN_samples$duplicated_samples,
                              CBTN_samples$tumour_type, CBTN_samples$sufficient_samplesize,
                              CBTN_samples$tumorexpression), stringsAsFactors = F)

In [57]:
head(freqtab)

  Var1                     Var2                 Var3
1 CBTN\nsamples\n(n = 996) Cell lines\n(n = 22) Duplicated (n = 5)
2 CBTN\nsamples\n(n = 996) Tumours\n(n = 974)   Duplicated (n = 5)
3 CBTN\nsamples\n(n = 996) Cell lines\n(n = 22) Excluded (n = 22)
4 CBTN\nsamples\n(n = 996) Tumours\n(n = 974)   Excluded (n = 22)
5 CBTN\nsamples\n(n = 996) Cell lines\n(n = 22) Unique\n(n = 969)
6 CBTN\nsamples\n(n = 996) Tumours\n(n = 974)   Unique\n(n = 969)
  Var4              Var5                Var6                Freq
1 Excluded (n = 27) Excluded\n(n = 266) Excluded\n(n = 364)  0
2 Excluded (n = 27) Excluded\n(n = 266) Excluded\n(n = 364)  5
3 Excluded (n = 27) Excluded\n(n = 266) Excluded\n(n = 364) 22
4 Excluded (n = 27) Excluded\n(n = 266) Excluded\n(n = 364)  0
5 Excluded (n = 27) Excluded\n(n = 266) Excluded\n(n = 364)  0
6 Excluded (n = 27) Excluded\n(n = 266) Excluded\n(n = 364)  0

In [58]:
freqtab <- freqtab[ order(freqtab$Var2, freqtab$Var3, freqtab$Var4, freqtab$Var5, freqtab$Var6),]

In [59]:
freqtab$Var7 <- NA

freqtab$Var7[ freqtab$Freq == 581] <- "Included\nin the study\n(n = 581)"
freqtab$Var7[ freqtab$Freq != 581] <- "Not included\nin the study\n(n = 415)"

In [60]:
freqtab_ggforce <- gather_set_data(freqtab[freqtab$Freq > 0,], c(1:6,8))

In [61]:
table(freqtab_ggforce$y)

             CBTN\nsamples\n(n = 996)                  Cell lines\n(n = 22)
                                    8                                     1
                   Duplicated (n = 5)                   Excluded\n(n = 266)
                                    1                                     5
                  Excluded\n(n = 364)                     Excluded (n = 22)
                                    6                                     1
                    Excluded (n = 27)     Included\nin the study\n(n = 581)
                                    2                                     1
   Matched with\npathology\n(n = 581) Not included\nin the study\n(n = 415)
                                    1                                     7
Not matched with\npathology\n(n = 51)                    Primary\n(n = 730)
                                    1                                     3
               Progressive\n(n = 153)            Rare/unannotated\n(n = 98)
                                    1                                     1
                  Recurrence (n = 70)           Second malignancy\n(n = 16)
                                    1                                     1
   Sufficient\nsample size\n(n = 632)                    Tumours\n(n = 974)
                                    2                                     7
                    Unique\n(n = 969)
                                    6

In [62]:
freqtab_ggforce$y <- factor(freqtab_ggforce$y,
levels = c('CBTN\nsamples\n(n = 996)',
           'Tumours\n(n = 974)','Cell lines\n(n = 22)',
           'Unique\n(n = 969)',
           'Duplicated (n = 5)',
           'Excluded (n = 22)',
           'Primary\n(n = 730)',
           'Progressive\n(n = 153)','Recurrence (n = 70)',
           'Second malignancy\n(n = 16)', 'Excluded (n = 27)',
           'Sufficient\nsample size\n(n = 632)', 'Rare/unannotated\n(n = 98)',
           'Excluded\n(n = 266)',
           'Matched with\npathology\n(n = 581)',
           'Not matched with\npathology\n(n = 51)',
           'Excluded\n(n = 364)',
           'Included\nin the study\n(n = 581)',
           'Not included\nin the study\n(n = 415)'
           ))

In [63]:
freqtab_ggforce$includedsamples[ freqtab_ggforce$Freq == 581] <- "Yes"
freqtab_ggforce$includedsamples[ freqtab_ggforce$Freq != 581] <- "No"

In [64]:
p_plot <- ggplot(freqtab_ggforce, aes(x, id = id, split = y, value = Freq)) +
geom_parallel_sets(aes(fill = includedsamples), alpha = 0.5) +
geom_parallel_sets_axes(axis.width = 0.3, fill = "dark gray") +
geom_parallel_sets_labels(colour = 'black', size = 8, angle = 0) + 
myaxis + myplot + 
theme(plot.margin = unit(c(1,10,1,1),"cm"),
      legend.position = "none", 
      axis.title.x = element_blank(), 
      axis.text.x = element_blank(),
      axis.line.x = element_blank(),
      axis.ticks.x = element_blank()) +
scale_y_continuous(expand = c(0.05, 0.5)) + 
scale_x_discrete(expand = c(0.1, 0.1)) +
scale_fill_manual(values = c("Yes" = "#d7191c", "No" = "#2c7bb6"))

In [65]:
pdf(paste0(plotpath, "CBTN_alluvial.pdf"),
   width = 30, height = 10)
p_plot
   
dev.off()

pdf
  2